.def-button {
    font-family: courier, courier new, serif;

    background: #266294;
    cursor: pointer;

    display: flex;
    justify-content: center;

    padding: 10px;

    width: 120px;
    font-weight: bold;
    color: whitesmoke;
    user-select: none;
}

.def-button[data-enabled="false"] {
    pointer-events: none;
    color: gray;
    cursor: none;
}

.def-button:hover {
    background: #3672A4;
}

.def-button:active {
    background: #165284;
}

.def-button.rounded {
    border-radius: 7px;
}